.layout {
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 250px;
}

.header {
    position: relative;
    left: -250px;
    padding-left: 250px;
    width: calc(100% + 250px);
    margin-bottom: 48px;
}
.content {
    flex: 1;
}

.nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.footer {
}
