.repoButton {
    color: #000;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 4px;
    transition: all 0.25s;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.repoButton:hover {
    background-color: #fff;
    text-decoration: none;
    box-shadow: 0 8px 16px -2px rgb(0 32 128 / 25%);
    color: #2263e5;
}

.icon {
    color: #000;
    font-size: 24px;
    margin-right: 8px;
}
