.heading {
    position: relative;
    margin-top: 0px;
    margin-bottom: 16px;
    color: rgb(255, 255, 255);
    word-break: break-word;
}

.anchor {
    display: inline-block;
    position: absolute;
    padding: 10px 0;
    opacity: 0;
    transition: opacity 0.2s;
    width: 32px;
    top: -10px;
    right: -16px;
    color: #81edff;
}

.heading:hover .anchor {
    opacity: 1;
}

@media (min-width: 768px) {
    .anchor {
        right: initial;
        text-align: center;
        width: 30px;
        left: -30px;
    }
}

.heading1 {
    font-size: 48px;
    display: inline-block;
    text-shadow: rgb(0 0 0) -2px 2px 0px, rgb(0 0 0) -4px 3px 0px;
    color: rgb(255, 255, 255);
    padding: 10px 0px;
    transition: color 0.3s ease 0s;
}

.heading1::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 40px;
    margin-left: -25px;
    background: linear-gradient(45deg, rgb(0, 88, 255), rgb(223, 114, 161), rgb(247, 255, 187));
    z-index: -1;
    transition: width 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    border-radius: 3px;
}

.heading2 {
    font-size: 28px;
    margin-top: 60px;
    margin-bottom: 24px;
    padding-right: 30px;
}

.heading3 {
    font-size: 24px;
    margin-top: 35px;
}

@media (min-width: 576px) {
    .heading2 {
        font-size: 32px;
    }
}

@media (min-width: 768px) {
    .heading1 {
        font-size: 64px;
    }

    .heading2 {
        font-size: 36px;
    }

    .heading3 {
        font-size: 28px;
    }
}
