.link {
    font-weight: bold;
    border-bottom: 2px solid #425991;
    transition: color 0.25s, border-color 0.2s;
    cursor: pointer;
}

.link:hover {
    color: white;
    text-decoration: none;
    border-bottom-color: rgba(255, 255, 255, 0.6);
}
