.content {
    max-width: 875px;
    margin: 0 auto;
    position: relative;
    padding: 0 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navigationLinkGroup {
    margin-top: auto;
    display: flex;
    margin-top: 64px;
}

.navigationLink {
    /* flex: 1 1 auto; */
    font-size: 22px !important;
    display: inline-flex !important;
    align-items: center;
    width: 50%;
}

.prevLink {
    justify-content: start;
}

.navigationLinkIcon {
    font-size: 32px;
}

.prevLink > .navigationLinkIcon {
    margin-right: 8px;
}

.nextLink {
    margin-left: auto;
    justify-content: end;
}

.nextLink > .navigationLinkIcon {
    margin-left: 8px;
}

@media (min-width: 576px) {
    .content {
        padding: 0 25px;
    }

    .navigationLink {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    .content {
        padding: 0 60px;
    }
}

@media (min-width: 1200px) {
    .navigationLink {
        font-size: 26px;
    }
}
